@import url('base.css');
.homepage{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #eeeeee;
}
.portrait img{
	display:block;
	width: 2.3rem;
	height: 2.3rem;
	margin: 1.45rem auto 0rem;
}
.Tips_g{
	display:block;
	width:4.2rem;
	height: 0.26rem;
	margin:0.12rem auto; 
	font-family: "苹方";
	font-size: 0.25rem;
	color: #2fbd2c;
	font-weight: bolder;
	text-align: center;
}
.Tips_gr{
	display:block;
	width:5rem;
	height: 0.21rem;
	margin:0.12rem auto; 
	font-family: "苹方";
	font-size: 0.0rem;
	color: #ababab;
	font-weight: bolder;
	text-align: center;
}
.wa{
    width: 4.08rem;
    height: 0.26rem;
    margin:1.54rem 0rem 0rem 1.51rem;
}
.wa img{
    display:block;
    width: 0.26rem;
    height: 0.26rem;
    float:left;
    line-height: 0.26rem;

}
.fail{
    width: 2rem;
    height: 0.22rem;
    margin:0.01rem 2.73rem 0.03rem 0.4rem;
    font-size: 0.22rem;
    color: #ac1111;
}
.in{
	width: 5.64rem;
	height: 0.45rem;
	margin:0.2rem auto 0rem;
	border-bottom:0.02rem solid #ac1111;
}
.point_y{
	width: 0.18rem;
	height: 0.12rem;
	float:left;
	margin-right: 0.3rem;
}
.Inputbox input{
	width: 4.94rem;
	height: 0.36rem;
	border:none;
    background:#eeeeee;
}
input::-webkit-input-placeholder{
    color:#ac1111;
}
.detele{
    width: 0.14rem;
    height: 0.14rem;
    color: #ababab;
    float:right;
    line-height: 0.45rem;
}
.line{
	width: 5.5rem;
	height: 0.04rem;
	color:#ac1111;
}
.bin{
	width: 4.8rem;
	height: 0.7rem;
	border-radius: 0.35rem;
	background: #dadada;
	margin: 2.96rem auto 0rem;
}
.start{
	display: block;
	width: 4.8rem;
	height: 0.7rem;
	border-radius: 0.35rem;
	background:-webkit-linear-gradient(left,#3e9eff,#41c2ff);
	background:-moz-linear-gradient(left,#3e9eff,#41c2ff);	
	border:none;
	font-family: "苹方";
	color:#fff;
}